[Unit]
Description=database
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/developer/Infra4BeautyAI/db_service
ExecStart=/home/developer/Infra4BeautyAI/db_service/start.sh
ExecStop=/home/developer/Infra4BeautyAI/db_service/stop.sh

[Install]
WantedBy=multi-user.target
