[Unit]
Description=beauty-logs
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/developer/Infra4BeautyAI/loki_service
ExecStart=/home/developer/Infra4BeautyAI/loki_service/start.sh
ExecStop=/home/developer/Infra4BeautyAI/loki_service/stop.sh

[Install]
WantedBy=multi-user.target
