[Unit]
Description=beautyAIservice
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/developer/startup
ExecStart=/home/developer/startup/start.sh
ExecStop=/home/developer/startup/stop.sh

[Install]
WantedBy=multi-user.target
