[Unit]
Description=igorFrontend
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/developer/Infra4BeautyAI/igorfrontend_service
ExecStart=/bin/docker run -d -p 5173:5173 --name igor-frontend andriis9/igor-frontend
ExecStop=/bin/docker stop igor-frontend
ExecStopPost=/bin/docker rm -f igor-frontend

[Install]
WantedBy=multi-user.target
