[Unit]
Description=Webhook github listener
After=network.target

[Service]
Type=service
Restart=always
ExecStart=/bin/python /home/developer/Infra4BeautyAI/webhook_listener/listener.py

[Install]
WantedBy=multi-user.target