[Unit]
Description=backendservice
Requires=docker.service
After=docker.service db.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/developer/Infra4BeautyAI/services/backend_service
ExecStart=/home/developer/Infra4BeautyAI/services/backend_service/start.sh
ExecStop=/home/developer/Infra4BeautyAI/services/backend_service/stop.sh

[Install]
WantedBy=multi-user.target
